/* Acerca de mí */
.sobremi {
  &__h3 {
    font-size: 1.3rem;
    font-weight: bold;
    font-family: var(--fuente-titulo);
    margin: 0 0 2rem 0;
  }
  &__p {
    font-weight: 400;
    margin: 0 0 1.5rem 0;
  }
  &__span {
    font-weight: bold;
  }
}

@media screen and (min-width: 1000px) {
  .sobremi {
    &__p {
      font-size: 1.2rem;
      width: 70%;
    }
    &__span {
      font-size: 1.2rem;
    }
    &__h3 {
      font-size: 1.6rem;
    }
  }
}
