.portafolio {
  &__h3 {
    color: var(--color-titulo);
    font-size: 1.3rem;
    font-weight: bold;
    font-family: var(--fuente-titulo);
    text-align: center;
    margin: 0 0 2rem 0;
  }
  &__div {
    gap: 1.875rem;
  }
}

.proyecto {
  &__div {
    padding: 1.5rem;
    border: 0.0625rem solid var(--color-cuerpo);
    border-radius: 0.4375rem;
    width: 100%;
    max-width: 25rem;
  }
  &__h4 {
    font-weight: bold;
    font-family: var(--fuente-cuerpo);
    font-size: 1.5rem;
  }
  &__p {
    font-size: 0.8rem;
    margin: 0.6rem 0 0 0;
  }
  &__img {
    border: 1px solid var(--color-titulo);
    border-radius: 0.125rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.tecnologias {
  &__div {
    margin: 1rem;
    gap: 1rem;
  }
  &__span {
    gap: 0.2rem;
    font-size: 1rem;
    background-color: var(--fondo-boton);
    color: var(--color-boton);
    padding: 0.8rem 0.6rem;
    border-radius: 0.25rem;
    &-icon {
      margin: 0.1rem 0 0 0;
    }
  }
}

.links {
  &__div {
    width: 100%;
    text-align: center;
    margin: 1rem 0 0 0;
    gap: 1rem;
  }
  &__a {
    width: 2.1875rem;
    height: 2.1875rem;
    font-size: 1.7rem;
    color: var(--color-boton);
    background-color: var(--fondo-boton);
    padding: 0.3125rem;
    border-radius: 100%;
    transition: opacity 0.3s ease-in-out;
  }
  &__a:hover {
    opacity: 0.7;
  }
}

@media screen and (min-width: 700px) {
  .links__a {
    width: 2.5rem;
    height: 2.5rem;
  }
}
@media screen and (min-width: 1000px) {
  .portafolio__h3 {
    font-size: 1.6rem;
  }
  .proyecto {
    &__h4 {
      margin: 0 0 1.5rem 0;
      font-size: 1.5rem;
    }
  }
  .tecnologias__span {
    padding: 0.125rem 0.5625rem;
    font-size: 1rem;
  }
  .links__a {
    width: 3.125rem;
    height: 3.125rem;
    font-size: 1.7rem;
  }
}
