@use "./scss/_layout.scss";

/* Reset CSS */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  // Modo Claro por defecto
  --azul-oscuro: #0a192f;
  --turquesa: #64ffda;
  --blanco: #f0f0f0;
  --gris-claro: #e6f1ff;

  --fondo-pagina: var(--blanco);
  --fondo-boton: (var(--turquesa));

  --color-titulo: var(--azul-oscuro);
  --color-cuerpo: var(--azul-oscuro);
  --color-boton: var(--azul-oscuro);

  --fuente-titulo: "Space Mono";
  --fuente-cuerpo: "Roboto Mono", Helvetica, Arial, sans-serif;
}

/* Modo Oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --fondo-pagina: var(--azul-oscuro);
    --fondo-boton: var(--turquesa);
    --color-boton: var(--azul-oscuro);

    --color-titulo: var(--blanco);
    --color-cuerpo: var(--blanco);
  }
}

/* Si se activa el modo de alto contraste */
@media (prefers-contrast: high) {
  :root {
    --color-titulo: white;
    --color-cuerpo: black;
  }
}

/* Desactivamos las animaciones por si el visitante ha activado el modo sin
* animaciones */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none;
    transition: none;
  }
}

/* Reset de los margin/paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitar problemas con imágenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* Opcional */
  object-fit: cover;
  /* Opcional */
  object-position: center center;
}

/* Reset de enlaces para funcionar como cajas */
a {
  display: block;
}

/* Excepto los que se encuentren en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos desplazamiento suave */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "" l;
  content: none;
}

/* Configuramos el texto que seleccionamos */
::selection {
  background-color: var(--color-cuerpo);
  color: var(--fondo-pagina);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
  /* Opcional -desactivar ciertos estilos que aplican varios navegadores- appearance: none; */
}

/* Reset de las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--fuente-cuerpo);
  color: var(--color-cuerpo);
  background-color: var(--fondo-pagina);
  /* Opcional */
  line-height: 1.4em;
  /* Opcional  hyphens: auto; */
  /* Opcional */
  font-smooth: always;
  /* Opcional */
  -webkit-font-smoothing: antialiased;
  /* Opcional */
  -moz-osx-font-smoothing: grayscale;
}

.footer-p {
  text-align: center;
  margin: 1rem 0;
  font-size: 0.8rem;
}
